.submit{
    border: 2px solid black;
    width: 20%;
    margin-left: 65%;
    border-radius: 20px;
    background-color: rgb(97, 184, 212);
    font-size: 25px;
    height: 6%;
    color: red;
}
.student-list{
    margin-left: 7%;
    margin-top: 3%;
    color: black;
}
.Form_Container{
    display: flex;
    justify-content: space-between;
}
.box-collection{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.name{
    width: 35%;
    color: black;
    background-color: beige;
    height: 25%;
    margin: 20px;
    border-radius: 5px;

}
.age{
    width: 35%;
    color: black;
    background-color: beige;
    height: 25%;
    margin: 20px;
    border-radius: 5px;

}
.course{
    width: 35%;
    color: black;
    background-color: beige;
    height: 25%;
    margin: 20px;
    border-radius: 5px;
}
.batch{
    width: 35%;
    color: black;
    background-color: beige;
    height: 25%;
    margin: 20px;
    border-radius: 5px;
}
.button_sub{
    border: 2px solid black;
    width: 20%;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(97, 184, 212);
    font-size: 25px;
    height: 6%;
    color: red;
}
.button_back{
    border: 2px solid black;
    width: 20%;
    border-radius: 20px;
    background-color: rgb(97, 184, 212);
    font-size: 25px;
    height: 6%;
    color: red;
    margin: 20px;
}